// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $webapp-primary: mat.define-palette(mat.$orange-palette);
// $webapp-secondary: mat.define-palette(mat.$gray-palette, 50, 100, 400);
// $webapp-accent: mat.define-palette(mat.$green-palette, 100, 200, 400);

// // The warn palette is optional (defaults to red).
// $webapp-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $webapp-theme: mat.define-light-theme(
//   (
//     color: (
//       primary: $webapp-primary,
//       secondary: $webapp-secondary,
//       accent: $webapp-accent,
//       warn: $webapp-warn,
//     ),
//   )
// );

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($webapp-theme);

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body,
html {
  // background: var(--color-light);
  font-family: "Poppins", sans-serif;
}

/*===== Estilos Angular Material =====*/
.mat-form-field-wrapper {
  padding-bottom: 0em;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input {
  color: #fff !important;
}

.bx {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  --tw-text-opacity: 1;
  color: rgb(228 228 231 / var(--tw-text-opacity));
}
