<mat-toolbar color="secondary">
    <mat-toolbar-row>
        <img src="../../../../assets/logo-extended.png" class="logo" alt="logo" />
        <div class="barra-pesquisa">
            <mat-icon> search </mat-icon>
            <input type="search" placeholder="Search" />
        </div>
        <span class="example-spacer"></span>
        <div class="area-perfil">
            <div class="tema-btn">
                <mat-icon class="active">light_mode</mat-icon>
                <mat-icon class="">dark_mode</mat-icon>
            </div>
            <div class="perfil">
                <div class="foto-perfil">
                    <img src="../../../../assets/profile-1.jpg" alt="">
                </div>
                <h5>Gabriel Dantas</h5>
                <mat-icon class=""> expand_more </mat-icon>
            </div>
        </div>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>