<div class="bg-emerald-500 px-8 py-4 flex items-center justify-between">
  <p>© 2024 Gabriel Inc. Todos os direitos reservados.</p>
  <div class="flex items-center gap-4 !text-zinc-400">
    <a href="https://github.com/GabrielDantas-99">
      <img width="46" src="/icons8-github.svg" alt="github logo" />
    </a>
    <a href="https://www.instagram.com/_gabrielfdantas/">
      <img width="46" src="/icons8-instagram.svg" alt="github logo" />
    </a>
    <a href="https://www.linkedin.com/in/gabriel-felipe-dantas/">
      <img width="46" src="/icons8-linkedin.svg" alt="github logo" />
    </a>
  </div>
</div>
