<header [ngSwitch]="previousRoute" class="flex items-center h-20 px-6 py-2">
  <div
    class="max-w-[1200px] w-full h-full flex items-center justify-between mx-auto"
  >
    <a routerLink="/" class="flex items-center text-3xl font-medium">
      <h2 class="text-emerald-500">Sell.</h2>
      <h2 class="text-slate-500">It</h2>
    </a>
    <button
      class="grid place-items-center"
      *ngIf="previousRoute"
      routerLink="/{{ previousRoute }}"
    >
      <span class="material-symbols-rounded text-white text-3xl">
        keyboard_return
      </span>
    </button>
    <h2 class="font-semibold text-md text-zinc-700">{{ pageTitle }}</h2>
    <div class="flex items-center gap-4">
      <button class="w-14 h-14 rounded-full" *ngIf="imgPerfil != null">
        <img
          class="object-cover rounded-full"
          src="{{ imgPerfil }}"
          alt="imagem de perfil"
        />
      </button>
      <div
        mat-button
        [matMenuTriggerFor]="menu"
        #menuTrigger
        class="cursor-pointer flex items-center gap-2 hover:bg-slate-100 transition ease-in-out py-1 pl-1 pr-2 rounded-lg"
        *ngIf="user != null; else loginRegister"
      >
        <span class="material-symbols-rounded !text-5xl !text-slate-800">
          account_circle
        </span>
        <span class="leading-4 text-sm text-slate-800">
          <p>{{ user.name }}</p>
          <p>{{ user.email }}</p>
        </span>
      </div>
      <mat-menu class="!bg-white" #menu>
        <button routerLink="/profile" mat-menu-item>
          <span class="material-symbols-rounded"> manage_accounts </span>
          <span>Perfil</span>
        </button>
        <button routerLink="/favorites" mat-menu-item>
          <span class="material-symbols-rounded"> favorite </span>
          Favoritos
        </button>
        <button
          (click)="logout()"
          class="!bg-red-400 !text-white"
          mat-menu-item
        >
          <span class="material-symbols-rounded"> logout </span>
          Sair
        </button>
      </mat-menu>
      <ng-template class="flex items-center gap-2" #loginRegister>
        <span class="material-symbols-rounded !text-5xl !text-slate-800">
          account_circle
        </span>
        <span class="leading-4 text-sm text-slate-800">
          <a href="/login" class="auth-link">Entre</a>
          ou <br />
          <a href="/register" class="auth-link">Cadastre-se</a>
        </span>
      </ng-template>
      <div class="relative">
        <span
          class="z-10 absolute -right-2.5 -top-2.5 text-white text-sm h-5 w-5 rounded-full bg-emerald-600 grid place-items-center"
        >
          {{ cartCount }}
        </span>
        <span
          aria-setsize="38"
          class="z-0 material-symbols-rounded text-slate-800 drop-shadow-sm size-34"
        >
          shopping_cart
        </span>
      </div>
    </div>
  </div>
</header>
