<div class="navbar">
  <div class="top">
    <button mat-icon-button color="accent">
      <mat-icon>notifications_none</mat-icon>
    </button>
  </div>
  <div class="logo">
    <img src="../../../assets/logo-extended.png" alt="" />
  </div>
  <div class="menu">
    <div class="menu-head">
      <span>Visão Geral</span>
    </div>
    <div class="menu-item">
      <button class="menu-button" [routerLink]="['/admin/visaogeral']">
        <mat-icon>dashboard</mat-icon>
        <span>Visão Geral</span>
      </button>
      <button class="menu-button" [routerLink]="['/admin/produtos']">
        <mat-icon>store</mat-icon>
        <span>Produtos</span>
      </button>
      <button class="menu-button" [routerLink]="['/admin/categorias']">
        <mat-icon color="white">category</mat-icon>
        <span>Categorias</span>
      </button>
      <button class="menu-button" [routerLink]="['/admin/pedidos']">
        <mat-icon>playlist_add_check</mat-icon>
        <span>Pedidos</span>
      </button>
      <button class="menu-button" [routerLink]="['/admin/clientes']">
        <mat-icon>person</mat-icon>
        <span>Clientes</span>
      </button>
      <button class="menu-button" [routerLink]="['/admin/entregas']">
        <mat-icon>moped</mat-icon>
        <span>Entregas</span>
      </button>
      <button class="menu-button" [routerLink]="['/admin/configuracoes']">
        <mat-icon>settings</mat-icon>
        <span>Configurações</span>
      </button>
    </div>
  </div>
</div>
